{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "arrow-parens": 0,
    "arrow-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "constructor-super": 0,
    "generator-star-spacing": 0,
    "no-class-assign": 0,
    "no-const-assign": 2,
    "no-this-before-super": 0,
    "no-var": 2,
    "object-shorthand": [
      2,
      "always"
    ],
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 0,
    "prefer-reflect": 0,
    "prefer-template": 2,
    "require-yield": 0,
    "semi": [
      2,
      "never"
    ]
  }
}
